<div class="tree">
  <ul>
    <li routerLink="/detalhe-pessoa">
      <a href="#">Parent</a>
      <ul>
        <li>
        <li>
          <a href="#">Child</a>
          <ul>
            <li>
              <a href="#">Grand Child</a>
              
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Filho</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
            <li>
              <a href="#">Grand Child</a>
            </li>
            <li>
              <a href="#">Grand Child</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#">dasdasds</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
