<div class="center-block text-center" id="nova-pessoa-form">
    
      <form>
        <div class="form-group">
          <label for="nomePessoa">Nome</label>
          <input type="text" class="form-control" id="nomePessoa">
        </div>
        <div class="form-group">
          <label for="data-nascimento">Data de nascimento</label>
          <input type="text" class="form-control" id="data-nascimento">
        </div>
        <div class="form-group">
          <label for="profissao">Profissão</label>
          <input type="text" class="form-control" id="profissao">
        </div>
      </form>
    
      <button type="button" routerLink="/home" class="btn btn-success">Salvar</button>
      <button type="button" class="btn btn-default">Cancelar</button>
    
    </div>