<div class="center-block text-center" id="novo-usuario-form">

  <form>
    <div class="form-group">
      <label for="nomeUsuario">Nome de usuário</label>
      <input type="text" class="form-control" id="nomeUsuario">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="text" class="form-control" id="senha">
    </div>
  </form>

  <button type="button" routerLink="/home" class="btn btn-success">Cadastrar</button>
  <button type="button" class="btn btn-default">Cancelar</button>

</div>
